a.anchor {
  fill: red;
}

@font-face {
  font-family: "Raleway";
  font-weight: 200 900;
  font-style: normal;
  src: url(./fonts/Raleway-VariableFont_wght.ttf) format('truetype');
  /* src: url(./fonts/Raleway-Italic-VariableFont_wght.ttf) format('truetype'); */
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 200 900;
  font-style: italic;
  src: url(./fonts/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
}

/* unvisited link */
a:link {
  color: paleturquoise;
}

/* visited link */
a:visited {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: none;
}